<%= page_title("Edit User") %>
<h2>Edit User</h2>
<%= render :partial => 'form' %> <!-- form is an object that is defined _form.html.erb,
 :partial is one of actionView (:partial la kieu don le) -->
<br/>  
<%= link_to 'Show', current_object %>
